<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzj"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <activity
            android:name="actMain"
            android:label="@string/actMain_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="actDiscovery"
            android:label="@string/actDiscovery_name"
            android:screenOrientation="portrait"
            android:launchMode="standard" android:configChanges="keyboardHidden|navigation|orientation|screenSize"/>
        <activity android:name="actByteStream"
            android:label="@string/actByteStream_name"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"/>
        <activity android:name="actCmdLine"
            android:label="@string/actCmdLine_name"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"/>
        <activity android:name="actKeyBoard"
            android:label="@string/actKeyBoard_name"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize" android:screenOrientation="portrait"/>
        <activity android:name="actAbout"
            android:label="@string/actAbout_name"
            android:launchMode="standard"/>
    </application>

</manifest>
